STRIPE_SECRET_KEY=your_stripe_secret_key_here
STRIPE_WEBHOOK_SECRET=whsec_rest_of_your_webhook_secret_here
STRIPE_ALLOWED_PRICE_IDS=price_id_1,price_id_2,price_id_3
APP_URL=http://localhost:2345

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_SYNC=
